* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: sans-serif;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #e9e9e9;
}

.logo {
    display: flex;
    align-items: center;
}

.menu .logo {
    margin: 20px;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

.menu li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.home .home-button {
    color: #10c9c3;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

.home .content {
    margin-left: auto;
    margin-right: 10%;
    width: 40vw;
}

.home .content h1 {
    font-size: 30px;
}

.home p {
    color: #e9e9e9;
}

.content p {
    color: #787878;
}

.home .button-container {
    margin-top: 20px;
    background-color: #10c9c3;
    padding: 10px;
    display: inline-block;
}

.home .button {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 40px;
    display: inline-block;
}

.home .button:hover {
    background-color: #4aa09a;
}

.about, .skills, .process, .services, .testimonials, .contact .content {
    background-color: transparent;
    color: black;
}

.about .content {
    text-align: center;
}

.about {
    height: 40vh;
}

.about .signature {
    display: block;
    margin: 0 auto;
    margin-bottom: 5vh;
}

/* Skill Section */
.skill {
    margin-bottom: 20px;
}

.progress-bar {
    width: 30vw;
    background-color: #f3f3f3;
    overflow: hidden;
    position: relative;
    height: 5px;
}

.progress-bar::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #10c9c3;
    transition: width 0.5s ease-in-out;
}

.progress-bar[data-progress="75"]::after {
    width: 75%;
}

.progress-bar[data-progress="90"]::after {
    width: 90%;
}

.progress-bar[data-progress="65"]::after {
    width: 65%;
}

.skills {
    height: 70vh;
}

.skills-content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.skills-text, .skills-box {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
}

.skills-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10vw;
    text-align: left;
    max-width: 50%;
}

.skills-box {
    flex: 1;
    background-color: #d3d3d3;
    height: 100%;
}

h1, h2 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    line-height: 1.6;
}

/* Work Section */
.work {
    background-color: #10c9c3;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.work-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.work-item {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.work-logo {
    margin-right: 20px;
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.work-info {
    text-align: left;
    display: flex;
    flex-direction: column;
}

.work-info p {
    margin: 0px 0;
    font-size: 20px;
}

.work-info .small-font{
    font-size: 13px;
}

.work-info .bold{
    font-weight: bold;
}

.grid-section{
    height: 50vw;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 25vw);
    grid-template-rows: repeat(2, 25vw);
}

.load-more {
    width: 100%;
    background-color: #f5f5f5; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.load-more p {
    color: #838383;
    font-size: 14px;
    margin: 0 auto;
}
.square {
    width: 25vw;
    height: 25vw;
}

.grey {
    background-color: #838383;
}

.black {
    background-color: #dddddd;
}

/* Video Section */
.video-section {
    padding: 50px 20px;
    text-align: center;
}

.video-container h2 {
    font-size: 2em;
    margin-bottom: 40px;
}

.video-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
    font-size: 14px;
    color: #777;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

}

.video-wrapper {
    position: relative;
    width: 100%;
    max-width: 800px;
    height: 450px;
    margin: 0 auto;
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-placeholder {
    width: 60px;
    height: 60px;
    background: #00c4cc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-button {
    display: block;
    width: 60px;
    height: 60px;
    text-decoration: none;
    color: #fff;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-icon {
    font-size: 15px;
}


.home {
    background-color: #e9e9e9;
}

.about {
    background-color: #ffffff;
}

.skills, .process, .services, .testimonials {
    background-color: #f8f9f9;
}

.services {
    background-color: #f5f5f5;
    padding: 60px 20px;
    text-align: center;
    height: 50%;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.service-item {
    flex: 1 1 calc(25% - 40px);
    max-width: calc(25% - 40px);
    box-sizing: border-box;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    text-align: center;
}

.service-item img {
    max-width: 100px;
    margin-bottom: 20px;
}

.service-item h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 14px;
    color: #666;
}

.testimonial {
    background-color: #10c9c3;
    padding: 60px 20px;
    text-align: center;
    color: white;
    height: 70vh;
}

.testimonial-container {
    max-width: 800px;
    margin: 0 auto;
}

blockquote {
    font-size: 24px;
    font-style: italic;
    margin: 0;
}

.partners {
    background-color: #ffffff;
    height: 10%;
}

.partners .partner-logo{
    margin: 5vw;
}


.footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    height: 20%;
}

.footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.content-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}



.contact {
    text-align: center; /* Center align content */
    background-color: #f5f5f5;
}

.contact .form-container {
    max-width: 600px;
    margin: 0 auto;
    
}

.contact .form-header {
    margin-bottom: 20px;
}

.contact .form-header h1 {
    margin-bottom: 30px;
}

.contact .form-header p {
    margin-bottom: 30px;
    color: grey;
}

.contact .contact-form {
    text-align: left; /* Left align form fields */
}

.contact .form-row {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between; /* Spread elements evenly */
    
}

.contact .form-row input[type="text"],
.contact .form-row input[type="email"],
.contact .form-row textarea {
    width: 100%; /* Set width to 100% */
    padding: 10px;
    border: none;
    box-sizing: border-box;
    
}

.contact .form-row textarea {
    height: 150px;
}

.contact .form-row button {
    background-color: #10c9c3;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px; /* Optional top margin */
    
}

.contact .form-row.button-row {
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.contact .form-row button:hover {
    background-color: #4aa09a;
}


footer {
    background-color: #111;
    color: #fff;
    padding: 60px 0;
    
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    color: #bcbcbc;
}

.footer-column {
    flex: 1;
    margin: 0 10px;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-column p {
    margin: 5px 0;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
}

.footer-column .column1-h3{
    color: white;
}

.footer-column .column1{
    font-size: 12px;
}

.footer-column .column2{
    padding-left: 40%;
}

.footer-column .column3{
    padding-left: 100% ; 
    
}

.footer-column .column4{
    padding-left:  40%;
}


.footer-column ul li a {
    color: #bcbcbc;
    text-decoration: none;
    font-size: 12px;
}

.footer-contain ul li a:hover {
    text-decoration: underline;
}